<div class="ui grid">
  <div class="six wide column">
    <div class="ui list">
      <a class="item" href="/">
        <i class="large right triangle icon"></i>
        <div class="content">
          <div class="header">foo</div>
          <div class="description">2016/02/16 12:34</div>
        </div>
      </a>
    </div>
  </div>
  <div class="ten wide column">
    <%= render partial: 'form', locals: { form: @form } %>
  </div>
</div>
