<div class="ui grid">
  <div class="six wide column">
    <%= render partial: 'list', locals: { titles: @titles } %>
  </div>
  <div class="ten wide column">
    <%= render partial: 'form', locals: { form: @form } %>
  </div>
</div>
