<%= form_for note, html: { class: 'ui form' } do |f| %>
  <div class="ui field">
    <%= f.text_area :content, rows: 22, class: 'note' %>
  </div>
  <%= f.submit 'Save', class: 'ui button' %>
<% end -%>
