<div class="ui form">
  <%= form_for form, url: notes_url, remote: true, html: { class: 'ui form' } do |f| %>
    <div class="ui field">
      <%= f.text_area :content, rows: 28, class: 'storable' %>
    </div>
  <% end -%>
</div>
<div id="state"></div>
