<div class="ui list">
  <% titles.each do |title| -%>
    <a class="item" href="/">
      <i class="large right triangle icon"></i>
      <div class="content">
        <div class="header"><%= title %></div>
        <div class="description">2016/02/16 12:34</div>
      </div>
    </a>
  <% end -%>
</div>
