<% form_action = page.persisted? ? page_url(gpid: page.gpid) : pages_url %>
<% form_method = page.persisted? ? :put : :post %>
<%= form_for page, url: form_action, method: form_method, remote: true, html: { class: 'ui form' } do |f| %>
  <div class="ui field">
    <%= f.text_area :content, rows: 22, class: 'content', data: { auto_save: true } %>
  </div>
<% end -%>
<div class="ui floated right" style="margin-top: 0.5rem;">
  <div class="ui mini icon basic buttons">
    <button class="ui button"><i class="arrow down icon"></i></button>
    <button class="ui button"><i class="arrow right icon"></i></button>
    <button class="ui button"><i class="arrow up icon"></i></button>
    <button class="ui button"><i class="arrow left icon"></i></button>
  </div>
  <div id="state" class="ui label" style="display: none;"><i class="cloud upload icon"></i> Saved.</div>
</div>
