<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  <%= fa_icon('list-alt') %>
</a>
<ul class="dropdown-menu">
  <% pages.each do |p| -%>
    <li><%= link_to p.label, edit_page_url(gpid: p.gpid) %></li>
  <% end -%>
</ul>
