$('#section').html("<%=j render(partial: 'form', locals: { page: @page }) %>");
showState("<%=j '<div class="ui large label"><i class="cloud upload icon"></i> Saved.</div>'.html_safe %>");
autoSaveHandler();
