<div id="chunk-form-anchor" class="chunk-area">
  <%= render partial: 'chunks/form', locals: { chunk: @page.chunk } %>
</div>
<div style="margin-top: 1.0rem;">
  <%= render partial: 'chunks/delete_button', locals: { chunk: @page.chunk } %>
  <span id="state-anchor" class="ui left floated"></span>
  <%= render partial: 'chunks/add_buttons' %>
</div>
