<div id="page-list" class="ui sidebar vertical menu">
  <%= render partial: 'list', locals: { pages: @pages } %>
</div>
<div class="pusher">
  <div class="ui main container">
    <div class="row" style="margin-bottom: 1rem;">
      <span id="page-summary">
        <%= render partial: 'summary', locals: { size: @pages.size } %>
      </span>
      <%= link_to new_page_url, class: 'ui large label' do %>
        <i class="write icon"></i>New
      <% end -%>
    </div>
    <div id="section" class="ui form">
      <%= render partial: 'form', locals: { page: @page } %>
    </div>
    <div id="state"></div>
  </div>
</div>
