<div id="page-list" class="ui sidebar vertical menu">
  <%= render partial: 'list', locals: { pages: @pages } %>
</div>
<div class="pusher">
  <%= render partial: 'layouts/menu', locals: { page_size: @pages.size } %>
  <div class="ui container">
    <div id="chunk" class="ui form">
      <%= render partial: 'form', locals: { page: @page } %>
    </div>
    <div id="state"></div>
  </div>
</div>
