<div class="page-actions">
  <%= link_to new_chunk_url(gpid: @page.gpid), remote: true, id: 'chunk-adder' do %>
    <%= fa_icon('plus-circle') %>
  <% end -%>
</div>
<%= render partial: 'chunks/list', locals: { chunks: @page.ordered_chunks } %>
