<%= render partial: 'chunks/form', locals: { chunk: @page.chunk } %>
<div style="margin-top: 1.0rem;">
  <%= render partial: 'chunks/delete_button', locals: { chunk: @page.chunk } %>
  <%= render partial: 'chunks/add_buttons' %>
</div>
