<div class="ui mini basic icon buttons right floated">
  <%= link_to '#', remote: true, class: 'ui button' do %>
    <i class="arrow down icon"></i>
  <% end -%>
  <%= link_to '#', remote: true, class: 'ui button' do %>
    <i class="arrow up icon"></i>
  <% end -%>
</div>
