<div class="ui tiny icon buttons right floated">
  <%= link_to '#', remote: true, class: 'ui button' do %>
    <i class="arrow down icon"></i>
  <% end -%>
  <%= link_to '#', remote: true, class: 'ui button' do %>
    <i class="arrow right icon"></i>
  <% end -%>
  <%= link_to '#', remote: true, class: 'ui button' do %>
    <i class="arrow up icon"></i>
  <% end -%>
  <%= link_to '#', remote: true, class: 'ui button' do %>
    <i class="arrow left icon"></i>
  <% end -%>
</div>
