<div id="<%= eid(:chunk, i, :segment) %>" class="ui segment">
  <%= render partial: 'chunks/form', locals: { chunk: chunk, i: i } %>
  <div id="<%= eid(:chunk, i, :actions) %>" class="chunk-actions">
    <%= render partial: 'chunks/actions', locals: { chunk: chunk } %>
  </div>
</div>
