<div id="chunk-segment-<%= chunk.gcid %>" class="chunk-segment">
  <%= render partial: 'chunks/form', locals: { chunk: chunk } %>
  <%= render partial: 'chunks/actions', locals: { chunk: chunk } %>
</div>
