<div id="<%= chunk.gcid %>" class="ui segment">
  <%= render partial: 'chunks/form', locals: { chunk: chunk } %>
  <div class="chunk-actions">
    <%= render partial: 'chunks/actions', locals: { chunk: chunk } %>
  </div>
</div>
