<div id="chunk-segment-<%= n %>" class="ui segment chunk-segment">
  <%= render partial: 'chunks/form', locals: { chunk: chunk, n: n } %>
  <div class="chunk-actions">
    <%= render partial: 'chunks/actions', locals: { chunk: chunk } %>
  </div>
</div>
