<div class="ui segment">
  <%= render partial: 'chunks/form', locals: { chunk: chunk } %>
  <div id="chunk-actions" class="chunk-actions">
    <%= render partial: 'chunks/actions', locals: { chunk: chunk } %>
  </div>
</div>
