var stateFadeDelay = <%= Rails.env == 'test' ? 1: 1500 %>;
var showState = function() {
  $('<span id="state" class="ui label"><i class="cloud upload icon"></i> Saved.</span>')
    .appendTo('#state-anchor')
    .fadeIn('fast')
    .delay(stateFadeDelay)
    .fadeOut('fast', function() {
      $(this).remove();
    });
}
