var notifierDelay = <%= Rails.env == 'test' ? 100 : 1500 %>;

var createNotice = function(message) {
  return '<div class="indicator">' + message + '</div>';
}

var notifyForChunk = function(gcid, message) {
  $(createNotice(message))
    .prependTo('#' + gcid)
    .fadeIn('fast')
    .delay(notifierDelay)
    .fadeOut('fast', function() { $(this).remove() });
};
