@import 'semantic-ui';

html.turbolinks-progress-bar::before {
  background-color: grey !important;
}

.unobtrusive {
  opacity: 0.1;
}

.main.container {
  margin-top: 1rem;
}

textarea.content {
  font-size: 1.2rem !important;
}

#state {
  margin-top: 1rem;
}
