@import 'semantic-ui';

html.turbolinks-progress-bar::before {
  background-color: grey !important;
}

.container {
  margin-top: 1rem;
}

textarea {
  font-size: 1.2rem !important;
}

#state {
  margin-top: 1rem;
}
