.chunk-box {
  @include flex;
  @include box;

  background-color: #fff;
  padding: 0;
  margin-bottom: 2.5rem;
}

$chunk-padding: 1.5rem;
$chunk-action-color: lighten($gray-nav, 7%);

.chunk-handle {
  padding-top: $chunk-padding;
  padding-left: $chunk-padding;
  color: $chunk-action-color;
}

.chunk-body {
  padding: 1.5rem $chunk-padding;

  textarea {
    resize: none;
  }
}

.chunk-actions {
  @include flex();
  -webkit-align-items: center;
  align-items: center;

  $vertical-space: 5px;
  $font-size: 18px;
  $height: $font-size + $vertical-space * 2;

  padding: $vertical-space $chunk-padding;
  border-bottom: 1px solid $border-color;

  font-size: $font-size;
  height: $height;
  line-height: $height;
}

.chunk-indicator {
  margin-left: auto;
}

.chunk-spinner {
  color: $brand-success;
  font-size: 15px;
}

.chunk-remover {
  color: $chunk-action-color;

  &:hover {
    color: $brand-danger;
  }
}
