.chunk-box {
  @include flex;
  @include box;

  background-color: #fff;
  padding: 0;
  margin-bottom: 2.5rem;
}

$chunk-padding: 1.5rem;

.chunk-body {
  width: 100%;
  padding: 1.5rem $chunk-padding;

  textarea { resize: none; }
}

.chunk-handle {
  padding-top: calc(#{$chunk-padding} + 2px);
  padding-left: $chunk-padding;
}

.chunk-indicator {
  padding-top: calc(#{$chunk-padding} + 2px);
  padding-right: $chunk-padding;
}

.chunk-icon {
  color: lighten($gray-nav, 7%);
  font-size: 18px;
}

.chunk-icon-danger {
  &:active { color: $brand-danger; }
  &:hover { color: $brand-danger; }
}

.chunk-icon-success {
  color: $brand-success;
}
