.chunk-box {
  @include flex;
  @include box;

  padding: 0;
  margin-bottom: 2.0rem;
}

.chunk-box.idle {
  background-color: #fff;
  transition: background-color 0.3s ease-out 0.1s;
}

.chunk-box.saving {
  background-color: lighten($brand-primary, 30%);
}

$chunk-padding: 1.0rem;

.chunk-body {
  width: 100%;
  padding: $chunk-padding;

  textarea { resize: none; }
}

$chunk-part-v-space: calc(#{$chunk-padding} + 2px);

.chunk-handle {
  padding-top: $chunk-part-v-space;
  padding-left: $chunk-padding;
}

.chunk-indicator {
  padding-top: $chunk-part-v-space;
  padding-right: $chunk-padding;
}

.chunk-link {
  width: 100%;
  padding-top: $chunk-part-v-space;
  padding-left: $chunk-padding;
  padding-bottom: $chunk-padding;

  i { margin-left: 3px; }
}

.chunk-icon {
  color: lighten($gray-nav, 7%);
  font-size: 18px;
}

.chunk-icon-danger {
  &:active { color: $brand-danger; }
  &:hover { color: $brand-danger; }
}

.chunk-icon-success {
  color: $brand-success;
}
