.page-summary {
  @include flex();
  -webkit-align-items: center;
  align-items: center;
}

.page-label {
  color: $text-color;
  margin-right: auto;
  font-size: 17px;
}

.page-timestamp {
  margin-right: 1.0rem;
  color: $gray-nav;
}

.page-remover {
  color: $gray-nav;
  font-size: 17px;

  &:hover { color: $brand-danger; }
}
