<div class="ui top fixed icon menu">
  <div class="ui container">
    <div class="item">
      <h1 class="brand"><%= link_to 'Chomen', root_url %></h1>
    </div>
    <%= link_to new_page_url, id: 'add-page', class: 'item' do %>
      <i class="write icon"></i>
    <% end -%>
    <%= link_to '#', data: { pages_opener: true }, class: 'item' do %>
      <i class="file outline icon"></i>&nbsp;<span id="page-count"><%= page_size %></span>
    <% end -%>
  </div>
</div>
