<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="navbar-container">
          <ul class="nav-section">
            <%= render partial: 'pages/list', locals: { pages: @pages } %>
          </ul>
          <div class="nav-header">
            <%= link_to new_page_url, class: 'navbar-brand' do -%>
              <%= fa_icon('file-o') %>
            <% end -%>
          </div>
          <ul class="nav-section">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
